@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import "tailwindcss";

@theme {
    /* Font families */
    --font-dmSans: 'DM Sans', sans-serif;

    --color-primary: #5A65AB;
    --color-primary-dark: #262A48;
    --color-primary-dark2: #32385E;
    --color-p1: #171717;
    --color-p2: #525252;
    --color-placeholder: #A3A3A3;
    --color-dashboard: #FAFAFA;
    --color-sidebar-text: #525252;
    --color-carousel-dot: #D4D4D4;

}